<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ResourceManagment.Properties.Settings.ManagmentConnectionString"
            connectionString="Data Source=DESKTOP-8JSQSML\SQLEXPRESS;Initial Catalog=Ghana;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ResourceManagment.Properties.Settings.ResourceConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Resource.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="ResourceManagment.Properties.Settings.ResourceConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\Resource.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>